.App {
  --header-height: 50px;  /* consider expanding real estate to allow basic format changes (.e.g., font) */
  --footer-height: 50px;
  --nav-width: 150px;
  --imageentry-min-image-width: 200px;
  --imageentry-min-image-height: 20vh;
  --fillin-responses-grid-itemlist-columnCount: 3;
  --imageentry-container-left-image-width: 33%;
}
p {
display: block;
margin-block-start: 0.25em;
margin-top: 0em;
margin-bottom: 0.5em;
margin-left: 0.3em;
margin-right: 0;
}
ul {
  margin-top: 0em;
}
li:not(:last-child) {
    margin-bottom: px;
}
.page {
  display: grid;
  grid-template-columns: minmax(var(--nav-width), 1fr) 4fr;
  grid-template-rows: var(--header-height) auto var(--footer-height);
  grid-gap: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  cursor: pointer;
}
header,
footer {
  background: #ccc;
  grid-column: 1 / span 2; /* spans 2 grid-template columns setup in .page */
}
main {
  padding: 5px;
  background-color: white;
  overflow: auto;
  line-height: 150%;
  font-size: 1.5vw;
}
nav {
  background-color: lightyellow;
  font-size: 1vw;
  overflow: auto
}
.navbar-li:hover {
  background: yellow;
}
.navbar-li
 {
   font-weight:bold;
   text-align: left;
   padding: 10px;
 }
 .navbar-li:nth-child(even) {
  background: #ccc;
}
.header-grid-container {
    display: grid;
    font-size: 8px;
    grid-template-columns: var(--header-height)  auto var(--header-height) var(--header-height) var(--header-height) calc(var(--header-height)/2) calc(var(--header-height)/2) var(--header-height);
    align-items: center;
    height: 100%;
}

.header-grid-hamburger {
  display: flex;
  grid-column-start: 1;
  padding: 15px;
}
.header-grid-middle {
  display: flex;
  grid-column-start: 2;
  padding: 15px;
}
.header-grid-sitemapbutton {
  padding: 12px;
  display: flex;
  grid-column-start: 3;
}.header-grid-prevbutton {
  padding: 10px;
  display: flex;
  grid-column-start: 4;
}
.header-grid-homebutton {
  padding: 10px;
  display: flex;
  grid-column-start: 5;
}
.header-grid-fontbutton {
  display: grid;
  padding: 2px;
  grid-template-rows: auto;
  grid-column-start: 6;
}
.header-grid-fontbutton {
  display: grid;
  padding: 2px;
  grid-template-rows: auto;
  grid-column-start: 7;
}
.header-grid-fontupbutton {
    grid-row-start: 1;
}
.header-grid-fontdownbutton {
    padding-bottom: 2px;
    grid-row-start: 2;
}
.header-grid-spacingupbutton {
    grid-row-start: 1;
}
.header-grid-spacingdownbutton {
    padding-bottom: 2px;
    grid-row-start: 2;
}
.header-grid-settingbutton {
  padding: 15px;
  display: flex;
  grid-column-start: 8;
}
.headertitle {
  grid-column-start: 2;
  display: flex;
  font-size: 24px;
}
.controlBar-container {
  display: grid;
  grid-template-columns: var(--footer-height) var(--footer-height) var(--footer-height) var(--footer-height) var(--footer-height) var(--footer-height) var(--footer-height);
  align-items: center;
  height: 100%;
  font-size: 8px;
}
.footer-flex-container {
  display: flex;
  align-items: center;
  max-height: 100%;
}
.footer-grid-listen {
  grid-column-start: 1;
  display: flex;
  padding:10px
}
.footer-grid-OK {
  grid-column-start: 1;
  display: flex;
  padding:10px
}
.footer-grid-cancel {
  grid-column-start: 2;
  display: flex;
  padding:10px
}
.footer-grid-speak {
  display: flex;
  grid-column-start: 2;
  padding:10px
}
.footer-grid-prevSentence {
  display: flex;
  grid-column-start: 5;
  padding:10px
}
.footer-grid-prevWord {
  display: flex;
  grid-column-start: 3;
  padding:10px
}
.footer-grid-nextWord {
  display: flex;
  grid-column-start: 4;
  padding:10px
}
.footer-grid-nextSentence {
  display: flex;
  grid-column-start: 6;
  padding:10px
}
.footer-grid-link {
  display: flex;
  grid-column-start: 7;
  padding:10px
}
.footer-statusBar {
  display: block;
  height:100%;
  padding-right: 10px;
  font-size: 12px;
  overflow: auto;
  align-items: center;
}
.footer-statusBar-message-application {

}
.footer-statusBar-message-listening {

}
.footer-statusBar-message-state {

}
.listen-monitor-status {
  display: block;
  height:100%;
  font-size: 10px;
  overflow: auto;

}
.icon {
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
}
div.loadingAnnouncement {
  padding-left: 1em;
}
span.whitespace {
  white-space: pre-wrap;
}
.recitable-word.active {
  background-color:#FFFF0075;
}
.recitable-word.active1 {
  background-color:#FFFF00;
  text-decoration:underline;
  color: blue;
}
.showbox {
  float: left;
  margin: 4em 1em;
  width: 100px;
  height: 60px;
  border: 2px solid green;
  background-color: #fff;
  line-height: 60px;
  text-align: center;
  transition: 1s ease-in-out;
}
.showbox:hover {
  transform: translate(3em,0);
}
.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
}
.settings-container {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1050;
  width: 100%;
  overflow: hidden;
}
.sliding1 {
  left: 0;
  height: 100%;
  background: white;
  top: 0;
  width: 100%;
  z-index: 1200;
  transform: translate(0, 3em);
  transition: transform 0.3s ease-out;
}
.sliding {
  top: 25px;
  left: 0px;
  transition: transform .5s ease;
}
.sliding:target {
  z-index: 1070;
  transform: translateY(100%);
}
.settings {
  display: grid;
  grid-template-rows: var(--header-height) auto 4px 60vh var(--footer-height);
  vertical-align: top;
  background: white;
  margin: 1.75rem auto;
  border-radius: 7px;
  max-width: 800px;
  padding: 1rem;
  box-shadow: 5px 5px 20px gray;
}
.settings-header {
  display: grid;
  background-color: lightgray;
  grid-row: 1;
  padding: 10px;
  font-size: 20px;
  user-select: none;
}
.settings-tabControl-grid {
  display: grid;
  grid-row: 2;
  text-align: center;
  font-size: 18px;
  grid-template-columns: 3;
  user-select: none;
}
.settings-tabControl-tab1 {
  padding-bottom: 5px;
  grid-column: 1;
}
.settings-tabControl-tab2 {
  padding-bottom: 5px;
  grid-column: 2;
}
.settings-tabControl-tab3 {
  padding-bottom: 5px;
  grid-column: 3
}
.settings-tabControl-markers-grid {
  grid-row: 3;
  display: grid;
  grid-template-columns: 3;
  vertical-align: top;
  user-select: none;
}
.settings-tabControl-marker1 {
  grid-column: 1;
  height: 3px;
}
.settings-tabControl-marker2 {
  grid-column: 2;
  height: 3px;
}
.settings-tabControl-marker3 {
  grid-column: 3;
  height: 3px;
}
.settings-tabControl-marker1.active {
  background-color: lightgray;
}
.settings-tabControl-marker2.active {
  background-color: lightgray;
}
.settings-tabControl-marker3.active {
  background-color: lightgray;
}
.settings-grid-container {
  grid-row: 4;
  vertical-align: top;
  padding: 5px;
  display: grid;
  grid-template-rows: auto;
  height: fit-content;
  overflow: auto;
}
.settings-content {
  vertical-align: top;
  display: inline;
}
.settings-footer {
  display: grid;
  grid-row: 5;
  background-color: lightgray;
}
.settings-section-header {
  border-radius: 0.5px;
  font-size: 18px;
  user-select: none;
  height: fit-content
}
.settings-grid-section-header {
  border-top: 2px solid lightblue;
  border-radius: 0.5px;
  font-size: 16px;
  user-select: none;
  height: fit-content
}
.settings-grid-col2-label-control {
  display: grid;
  padding-top: 15px;
  padding-left: 10px;
  grid-template-columns: 1fr 7fr 1fr;
  vertical-align: top;
}
.settings-grid-col2-label {
  font-size: 14px;
  grid-column-start: 1;
  user-select: none;
  vertical-align: top;
}
.settings-grid-col2-control {
  grid-column-start: 2;
  vertical-align: top;
}
.settings-grid-col2-control-button {
  grid-column-start: 3;
  vertical-align: top;
}
.settings-grid-section-footer {
  font-size: 14px;
  font-style: italic;
  padding-top: 10px;
  padding-left: 10px;
  grid-column-start: 1;
  user-select: none;
  vertical-align: top;
}
.stopAtEOS-checkbox-container {
  padding-left: 10px;
  font-size: 14px;
  padding-top: 15px;
}
.cursor-advance-checkbox-container {
  padding-left: 10px;
  font-size: 14px;
  padding-top: 15px;
}
.retries-textbox {
  width: 50px
}
.slider-container {
  grid-template-rows: 1fr 1fr;
}
.volume-slider-container {
  width: 80%;
}
.rate-slider-container {
  width: 80%;
}
.slider-control {
  width: 100%;
}
.timeout-slider-container {
  width: 50%;
}
.fillin-section-container {
}
.fillin-heading-grid-control {
  display: grid;
  min-height: 40px;
  padding-left: 5px;
  padding-top: 4px;
  grid-template-columns: 40px auto;
  background-color: Gainsboro;
  border-radius: 15px;
}
.help-settings-grid-reset-button {
  display: flex;
  align-items: center;
  grid-column-start: 1;
  padding-left: 3px;
}
.help-settings-slider-grid-control {
  grid-column-start: 2;
  display: grid;
  height: 30px;
  grid-template-columns: 40px 10% 30% 10% auto;
}
.help-settings-grid-show-button {
  display: flex;
  align-items: center;
  grid-column-start: 1;
  padding-left: 3px;
}
.helpIcon {
  padding-top: 5px;
  width: 30px;
}
.resetIcon {
  padding-top: 5px;
  width: 30px;
}
.help-settings-grid-slider-left-label {
  grid-column-start: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
  font-size: 1.125vw;
  user-select: none;
}
.help-settings-slider-control {
  display: block;
  align-items: center;
  grid-column-start: 3;
}
.help-settings-slider-grid-right-label {
  display: flex;
  grid-column-start: 4;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
  font-size: 1.125vw;
  user-select: none;
}
.help-settings-slider-grid-description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
  padding-left: 10px;
  text-align: left;
  font-size: 1vw;
  grid-column-start: 5;
}
.queuing-slider-container {
  width: 90%;
}
.slider-container-label-control {
  grid-template-columns: 100px, auto;
  width: 100%
}
.slider-container-label {
  grid-column-start: 2;
}
.slider-container-control {
  grid-column-start: 1;
  width: 100%;
}
.ticklist {
  display: flex;
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 12px;
  justify-content: space-between;
}
.listenTimeout-slider-container {
  width: 100%;
}
.settings-grid-section-item {
  display: flex;
  font-size: 16px;
  padding: 2px
}
.settings-footer-buttonbar {
}
h1 {
  border-top: solid;
  border-image: linear-gradient(to right, #ccc 47%, transparent 50%) 100% 1;
  border-top-width: 6px;
  margin-top: 0.1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-bottom: 0.2em;
}
h2 {
  border-top: solid;
  border-image: linear-gradient(to right, #ccc 37%, transparent 40%) 100% 1;
  border-top-width: 2px;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}
h3 {
  border-top: solid;
  border-image: linear-gradient(to right, #ccc 27%, transparent 30%) 100% 1;
  border-top-width: 1px;
  margin-top: 0.1em;
  margin-bottom: 0em;
  font-size:
}
ol {
  padding-left: 2em;
}
.settings-grid-section-item-recitation {
  display: block;
  font: inherit;
  padding-left: 5px;
  user-select: none;
  align-items: center;
  grid-template-columns: auto
}
.settings-grid-section-item-recitation-control-group {
  padding-top: 5px;
}
.recitation-radioButton {
  font-size: 14px;
  padding-left: 5px
}
input[type="radio"]{
  margin-left: 15px;
  margin-right: 5px;
}
.notificationMode-radioButton {
  font-size: 14px;
  padding-left: 5px
}
* {
  box-sizing: border-box;
}
.imageentry-images-left {
  grid-column: images;
}
.imageentry-images-left > img {
  object-fit: contain;
  width: 100%
}
.imageentry-container-left {
  display: grid;
  grid-template-columns: [images] var(--imageentry-container-left-image-width) [divider] 10px [captions] auto;
}
.imageentry-container-left-divider {
  grid-column: divider;
  max-width: 2px;
}
.imageentry-captions-left {
  grid-column: captions;
}
.imageentry-container-above {
  display: inline-grid;
  gap: 10px;
}
.imageentry-images-above > img {
  max-height: var(--imageentry-min-image-height);
}
.imageentry-container-above-divider {
  height: 1px;
  margin-bottom: 5px;
}
.imageentry-above-images {
  grid-row: images;
  min-height: 20vh;
  max-height: var(--imageentry-min-image-height);
}
.imageentry-above-captions {
  grid-row: captions;
}
.imageentry-images-above-saved {
  min-height: var(--imageentry-min-image-height);
}
.imageentry-image {
  margin: 0px 10px 10px 0px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px gray;
  background-color: white;
}
.imageentry-image-link {
  box-shadow: black;
}
.imageentry-image-above {
  min-height: var(--imageentry-min-image-height);
  max-height: var(--imageentry-min-image-height);
}
.image-link-overlay-container {
  display: inline;
  position: relative;
}
.image-link-overlay-container > img {
object-fit: contain;
width: 100%;
}
.image-link-overlay {
  position: absolute;
  max-width: 15%;
  right:10px;
  bottom: 10px;
  opacity: 0.4;
}
.image-link-overlay > img {
  width: 10%;
}
.link-label {
  text-decoration: underline;
  color: blue;
}
.link-label1 {
  text-decoration: underline dotted;
}
.fillin-prompts-label {
  font-style:italic;
}
.fillin-responses-label {
  font-style:italic;
}
.fillin-responses-item {
}
.fillin-prompts-terminal {
  display: inline-block; /* Be careful of unintended side effects  */
  min-width:20px;
  text-decoration: none;
  text-align: center;
  border-bottom: 0.15vw dashed black;
  padding-left: 10px;
  padding-right: 10px;
}
.fillin-prompts-terminal-hidden {
  color: rgba(0,0,0,0.0); /* transparent */
}
.fillin-responses-attributes {
  font-style: italic;
}
.fillin-responses-grid-container {
  display: grid;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fillin-responses-grid-itemlist {
  display: grid;
  margin:0 0 0 0px;
  grid-gap: 0 0 0 0;
  background-color: #EAFFF1;
  grid-template-columns: repeat(var(--fillin-responses-grid-itemlist-columnCount));
  outline: 1px solid #EAFFF1;
}
.fillin-responses-grid-itemlist > div {
  margin:0 0px 0px 0;
  outline: 1px solid white;
  padding: 5px;

}
.fillin-responses-grid-item {
}
.fillin-responses-grid-item-style-none {

}
.fillin-responses-grid-item-omitted {
  text-decoration-line: line-through;
}
.textbox-control {
  height: auto;
  font-family: monospace;
    font-size: 15px;
  border-radius: .25em;
  box-sizing: border-box;
  border: 1px solid #aaa;
	box-shadow: 0 2px 0 1px rgba(0,0,0,.04);
  padding: .1em .1em .1em .5em;
    background: transparent; /* around the text */
}
.textbox-control:read-only {
  color: #aaa;
  border: 0px solid #aaa;
}
.ddlb-voiceselect {
  display: flex;
  float: right;
  font-size: 15px;
  width: 100%;
  min-width: 200px;
  box-sizing: border-box;
  border-radius: .25em;
  border: 1px solid #aaa;
	box-shadow: 0 2px 0 1px rgba(0,0,0,.04);
  padding: .2em .2em .2em .2em; /* around the text */
  padding-left: 10px;
  background: transparent;

  /* change the down arrow */
  -moz-appearance: none;  /* remove existing down arrow */
	-webkit-appearance: none;  /* remove existing down arrow */
	appearance: none; /* remove existing down arrow */
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
/**********************************************
 *  OBSOLETE BELOW HERE
 **********************************************/
table {
  display: flex;
  justify-content: center;
  border: 1px solid gray;
}
td {
  border: 1px solid gray;
  width: 30em;
}
.labelled-textarea * {
  font-size: 12px;
  height: 16px;
  vertical-align: middle;
  width: 24px;
  resize: none;
}
/* testing ref */
.slide {
  height: 4em;
  vertical-align: middle;
  text-align: center;
}
#test {
  overflow: scroll;
  max-height: 40em;
}
.audible-sentence.active {
}
.audible-word.active {
  text-decoration:underline;
color: blue;
}
.visited {
color: Grey;
}
